<body>
  <div class="user-add-challenge-btn-headers">
    <a href="<%=username%>/acceptChallenges" class="user-add-challenge-btn"
      >&#43; Add New Challenges</a
    >
  </div>
  <h1>Challenges</h1>
  <div class="challenge-options">
    <p class="<%-optionsClass.all%>" class="option-active">
      <a href="/user/<%-username%>">All Tasks</a>
    </p>
    <p class="<%-optionsClass.completed%>">
      <a href="/user/<%-username%>/completed">Completed Tasks</a>
    </p>
    <p class="<%-optionsClass.incomplete%>">
      <a href="/user/<%-username%>/incomplete">Incomplete Tasks</a>
    </p>
  </div>
  <div class="challenge-cards">
    <% let i = 0; userChallenges.forEach(challenge => { %>
    <div class="challenge-card">
      <span id="challenge-card-title"><%- challenge.title %></span> <br />
      <label for="card-desc">Description:</label>
      <p id="card-desc" class="challenge-card-desc"><%- challenge.desc %></p>
      <br />
      <span id="challenge-card-compleated"
        >Compleated: <%=usersData.find(user => user.title ==
        challenge.title).compleated%>
      </span>
      <% if (!usersData.find(user => user.title ==
      challenge.title).compleated){%>
      <form
        action="<%=username%>/<%= challenge.title %>?_method=PUT"
        method="POST"
      >
        <input type="hidden" name="username" value="<%=username%>" />
        <input type="submit" value="Compleate" class="btn" />
      </form>
      <% } else { %>
      <p>
        <%=(challenge.compleated.compleated / challenge.compleated.accepted)*100
        %>% of people have compleated this challenge
      </p>
      <% } %>
    </div>
    <% i++ }); %>
  </div>
</body>
